USE [master]
GO
/****** Object:  Database [nha_sach_online]    Script Date: 14/04/2026 8:47:35 CH ******/
CREATE DATABASE [nha_sach_online]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'nha_sach_online', FILENAME = N'D:\WorkSpace\Database\nha_sach_online.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'nha_sach_online_log', FILENAME = N'D:\WorkSpace\Database\nha_sach_online_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [nha_sach_online].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [nha_sach_online]
GO
/****** Object:  Table [dbo].[audit_log]    Script Date: 14/04/2026 8:47:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[audit_log](
	[log_id] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[hanh_dong] [nvarchar](255) NOT NULL,
	[thoi_diem] [datetime] NULL,
	[chi_tiet] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chi_tiet_don_hang]    Script Date: 14/04/2026 8:47:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chi_tiet_don_hang](
	[ma_donhang] [nvarchar](20) NOT NULL,
	[isbn] [nvarchar](13) NOT NULL,
	[so_luong] [int] NOT NULL,
	[gia_ban_chot] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_donhang] ASC,
	[isbn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[chi_tiet_phieu_nhap]    Script Date: 14/04/2026 8:47:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chi_tiet_phieu_nhap](
	[ma_phieunhap] [nvarchar](20) NOT NULL,
	[isbn] [nvarchar](13) NOT NULL,
	[so_luong] [int] NOT NULL,
	[don_gia_nhap] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_phieunhap] ASC,
	[isbn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[danh_gia]    Script Date: 14/04/2026 8:47:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[danh_gia](
	[ma_dg] [bigint] IDENTITY(1,1) NOT NULL,
	[ma_khachhang] [bigint] NOT NULL,
	[isbn] [nvarchar](13) NOT NULL,
	[diem_dg] [int] NULL,
	[nhan_xet] [nvarchar](max) NULL,
	[ngay_dg] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_dg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[danh_muc]    Script Date: 14/04/2026 8:47:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[danh_muc](
	[ma_danhmuc] [int] IDENTITY(1,1) NOT NULL,
	[ten_danhmuc] [nvarchar](100) NOT NULL,
	[danh_muc_cha_id] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_danhmuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[don_hang]    Script Date: 14/04/2026 8:47:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[don_hang](
	[ma_donhang] [nvarchar](20) NOT NULL,
	[ma_khachhang] [bigint] NOT NULL,
	[ma_voucher] [nvarchar](20) NULL,
	[ngay_tao] [datetime] NULL,
	[tong_tien_hang] [decimal](12, 2) NOT NULL,
	[phi_vanchuyen] [decimal](10, 2) NULL,
	[tong_thanh_toan] [decimal](15, 2) NOT NULL,
	[trang_thai] [nvarchar](50) NULL,
	[dia_chi_giao_cu_the] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_donhang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[gio_hang]    Script Date: 14/04/2026 8:47:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[gio_hang](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[ma_khachhang] [bigint] NOT NULL,
	[isbn] [nvarchar](13) NOT NULL,
	[so_luong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ho_tro]    Script Date: 14/04/2026 8:47:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ho_tro](
	[ma_hotro] [bigint] IDENTITY(1,1) NOT NULL,
	[ma_khachhang] [bigint] NOT NULL,
	[tieu_de] [nvarchar](200) NOT NULL,
	[noi_dung] [nvarchar](max) NULL,
	[trang_thai] [nvarchar](50) NULL,
	[thoi_gian] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_hotro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[khach_hang]    Script Date: 14/04/2026 8:47:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[khach_hang](
	[ma_khachhang] [bigint] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[ho_ten] [nvarchar](100) NOT NULL,
	[sdt] [nvarchar](15) NULL,
	[dia_chi_giao_hang] [nvarchar](max) NULL,
	[diem_tich_luy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_khachhang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[kho_hang]    Script Date: 14/04/2026 8:47:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[kho_hang](
	[ma_kho] [int] IDENTITY(1,1) NOT NULL,
	[isbn] [nvarchar](13) NOT NULL,
	[so_luong_ton] [int] NULL,
	[vi_tri_ke] [nvarchar](50) NULL,
	[nguong_bao_dong] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_kho] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[isbn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nxb]    Script Date: 14/04/2026 8:47:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nxb](
	[ma_nxb] [int] IDENTITY(1,1) NOT NULL,
	[ten_nxb] [nvarchar](150) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_nxb] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nha_cung_cap]    Script Date: 14/04/2026 8:47:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nha_cung_cap](
	[ma_ncc] [int] IDENTITY(1,1) NOT NULL,
	[ten_ncc] [nvarchar](150) NOT NULL,
	[thong_tin_lien_he] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_ncc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nhan_vien]    Script Date: 14/04/2026 8:47:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nhan_vien](
	[ma_nhanvien] [int] IDENTITY(1,1) NOT NULL,
	[username] [nvarchar](50) NOT NULL,
	[ho_ten] [nvarchar](100) NOT NULL,
	[sdt] [nvarchar](15) NULL,
	[bo_phan] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_nhanvien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieu_nhap]    Script Date: 14/04/2026 8:47:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieu_nhap](
	[ma_phieunhap] [nvarchar](20) NOT NULL,
	[ma_ncc] [int] NOT NULL,
	[ma_nhanvien] [int] NOT NULL,
	[ngay_nhap] [datetime] NULL,
	[tong_tien] [decimal](15, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_phieunhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[phieu_xuat]    Script Date: 14/04/2026 8:47:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phieu_xuat](
	[ma_phieuxuat] [nvarchar](20) NOT NULL,
	[ma_donhang] [nvarchar](20) NOT NULL,
	[ngay_xuat] [datetime] NULL,
	[nguoi_xuat] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_phieuxuat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ma_donhang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sach]    Script Date: 14/04/2026 8:47:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sach](
	[isbn] [nvarchar](13) NOT NULL,
	[ten_sach] [nvarchar](255) NOT NULL,
	[gia_niem_yet] [decimal](10, 2) NOT NULL,
	[so_trang] [int] NULL,
	[ma_danhmuc] [int] NULL,
	[ma_nxb] [int] NULL,
	[mo_ta_ngu_nghia] [nvarchar](max) NULL,
	[anh_bia] [nvarchar](255) NULL,
	[da_xoa] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[isbn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sach_dien_tu]    Script Date: 14/04/2026 8:47:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sach_dien_tu](
	[isbn] [nvarchar](13) NOT NULL,
	[dung_luong_file] [decimal](10, 2) NULL,
	[duong_dan_tai] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[isbn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sach_tac_gia]    Script Date: 14/04/2026 8:47:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sach_tac_gia](
	[isbn] [nvarchar](13) NOT NULL,
	[ma_tacgia] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[isbn] ASC,
	[ma_tacgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sach_vat_ly]    Script Date: 14/04/2026 8:47:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sach_vat_ly](
	[isbn] [nvarchar](13) NOT NULL,
	[can_nang] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[isbn] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tac_gia]    Script Date: 14/04/2026 8:47:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tac_gia](
	[ma_tacgia] [int] IDENTITY(1,1) NOT NULL,
	[ten_tacgia] [nvarchar](100) NOT NULL,
	[tieu_su] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_tacgia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tai_khoan]    Script Date: 14/04/2026 8:47:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tai_khoan](
	[username] [nvarchar](50) NOT NULL,
	[password] [nvarchar](255) NOT NULL,
	[role] [nvarchar](50) NOT NULL,
	[trang_thai] [bit] NULL,
	[ngay_tao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[thanh_toan]    Script Date: 14/04/2026 8:47:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thanh_toan](
	[ma_thanhtoan] [nvarchar](50) NOT NULL,
	[ma_donhang] [nvarchar](20) NOT NULL,
	[phuong_thuc] [nvarchar](50) NOT NULL,
	[trang_thai] [nvarchar](50) NULL,
	[ngay_thanh_toan] [datetime] NULL,
	[ma_tham_chieu_cong] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_thanhtoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[van_chuyen]    Script Date: 14/04/2026 8:47:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[van_chuyen](
	[ma_vanchuyen] [nvarchar](30) NOT NULL,
	[ma_donhang] [nvarchar](20) NOT NULL,
	[doi_tac] [nvarchar](50) NULL,
	[tracking_id] [nvarchar](50) NULL,
	[trang_thai_tracking] [nvarchar](100) NULL,
	[thoi_gian_cap_nhat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_vanchuyen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ma_donhang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[voucher]    Script Date: 14/04/2026 8:47:35 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[voucher](
	[ma_voucher] [nvarchar](20) NOT NULL,
	[gia_tri_giam] [decimal](10, 2) NOT NULL,
	[dieu_kien_toi_thieu] [decimal](12, 2) NULL,
	[thoi_han] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ma_voucher] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[audit_log] ADD  DEFAULT (getdate()) FOR [thoi_diem]
GO
ALTER TABLE [dbo].[danh_gia] ADD  DEFAULT (getdate()) FOR [ngay_dg]
GO
ALTER TABLE [dbo].[don_hang] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[don_hang] ADD  DEFAULT ((0)) FOR [phi_vanchuyen]
GO
ALTER TABLE [dbo].[don_hang] ADD  DEFAULT ('MOI') FOR [trang_thai]
GO
ALTER TABLE [dbo].[gio_hang] ADD  DEFAULT ((1)) FOR [so_luong]
GO
ALTER TABLE [dbo].[ho_tro] ADD  DEFAULT ('OPEN') FOR [trang_thai]
GO
ALTER TABLE [dbo].[ho_tro] ADD  DEFAULT (getdate()) FOR [thoi_gian]
GO
ALTER TABLE [dbo].[khach_hang] ADD  DEFAULT ((0)) FOR [diem_tich_luy]
GO
ALTER TABLE [dbo].[kho_hang] ADD  DEFAULT ((0)) FOR [so_luong_ton]
GO
ALTER TABLE [dbo].[kho_hang] ADD  DEFAULT ((5)) FOR [nguong_bao_dong]
GO
ALTER TABLE [dbo].[phieu_nhap] ADD  DEFAULT (getdate()) FOR [ngay_nhap]
GO
ALTER TABLE [dbo].[phieu_xuat] ADD  DEFAULT (getdate()) FOR [ngay_xuat]
GO
ALTER TABLE [dbo].[tai_khoan] ADD  DEFAULT ((1)) FOR [trang_thai]
GO
ALTER TABLE [dbo].[tai_khoan] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO
ALTER TABLE [dbo].[thanh_toan] ADD  DEFAULT ('PENDING') FOR [trang_thai]
GO
ALTER TABLE [dbo].[van_chuyen] ADD  DEFAULT ('GHN') FOR [doi_tac]
GO
ALTER TABLE [dbo].[van_chuyen] ADD  DEFAULT (getdate()) FOR [thoi_gian_cap_nhat]
GO
ALTER TABLE [dbo].[voucher] ADD  DEFAULT ((0)) FOR [dieu_kien_toi_thieu]
GO
ALTER TABLE [dbo].[audit_log]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[tai_khoan] ([username])
GO
ALTER TABLE [dbo].[chi_tiet_don_hang]  WITH CHECK ADD FOREIGN KEY([ma_donhang])
REFERENCES [dbo].[don_hang] ([ma_donhang])
GO
ALTER TABLE [dbo].[chi_tiet_don_hang]  WITH CHECK ADD FOREIGN KEY([isbn])
REFERENCES [dbo].[sach] ([isbn])
GO
ALTER TABLE [dbo].[chi_tiet_phieu_nhap]  WITH CHECK ADD FOREIGN KEY([ma_phieunhap])
REFERENCES [dbo].[phieu_nhap] ([ma_phieunhap])
GO
ALTER TABLE [dbo].[chi_tiet_phieu_nhap]  WITH CHECK ADD FOREIGN KEY([isbn])
REFERENCES [dbo].[sach] ([isbn])
GO
ALTER TABLE [dbo].[danh_gia]  WITH CHECK ADD FOREIGN KEY([isbn])
REFERENCES [dbo].[sach] ([isbn])
GO
ALTER TABLE [dbo].[danh_gia]  WITH CHECK ADD FOREIGN KEY([ma_khachhang])
REFERENCES [dbo].[khach_hang] ([ma_khachhang])
GO
ALTER TABLE [dbo].[danh_muc]  WITH CHECK ADD FOREIGN KEY([danh_muc_cha_id])
REFERENCES [dbo].[danh_muc] ([ma_danhmuc])
GO
ALTER TABLE [dbo].[don_hang]  WITH CHECK ADD FOREIGN KEY([ma_khachhang])
REFERENCES [dbo].[khach_hang] ([ma_khachhang])
GO
ALTER TABLE [dbo].[don_hang]  WITH CHECK ADD FOREIGN KEY([ma_voucher])
REFERENCES [dbo].[voucher] ([ma_voucher])
GO
ALTER TABLE [dbo].[gio_hang]  WITH CHECK ADD FOREIGN KEY([isbn])
REFERENCES [dbo].[sach] ([isbn])
GO
ALTER TABLE [dbo].[gio_hang]  WITH CHECK ADD FOREIGN KEY([ma_khachhang])
REFERENCES [dbo].[khach_hang] ([ma_khachhang])
GO
ALTER TABLE [dbo].[ho_tro]  WITH CHECK ADD FOREIGN KEY([ma_khachhang])
REFERENCES [dbo].[khach_hang] ([ma_khachhang])
GO
ALTER TABLE [dbo].[khach_hang]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[tai_khoan] ([username])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[kho_hang]  WITH CHECK ADD FOREIGN KEY([isbn])
REFERENCES [dbo].[sach] ([isbn])
GO
ALTER TABLE [dbo].[nhan_vien]  WITH CHECK ADD FOREIGN KEY([username])
REFERENCES [dbo].[tai_khoan] ([username])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[phieu_nhap]  WITH CHECK ADD FOREIGN KEY([ma_ncc])
REFERENCES [dbo].[nha_cung_cap] ([ma_ncc])
GO
ALTER TABLE [dbo].[phieu_nhap]  WITH CHECK ADD FOREIGN KEY([ma_nhanvien])
REFERENCES [dbo].[nhan_vien] ([ma_nhanvien])
GO
ALTER TABLE [dbo].[phieu_xuat]  WITH CHECK ADD FOREIGN KEY([ma_donhang])
REFERENCES [dbo].[don_hang] ([ma_donhang])
GO
ALTER TABLE [dbo].[sach]  WITH CHECK ADD FOREIGN KEY([ma_danhmuc])
REFERENCES [dbo].[danh_muc] ([ma_danhmuc])
GO
ALTER TABLE [dbo].[sach]  WITH CHECK ADD FOREIGN KEY([ma_nxb])
REFERENCES [dbo].[nxb] ([ma_nxb])
GO
ALTER TABLE [dbo].[sach_dien_tu]  WITH CHECK ADD FOREIGN KEY([isbn])
REFERENCES [dbo].[sach] ([isbn])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[sach_tac_gia]  WITH CHECK ADD FOREIGN KEY([ma_tacgia])
REFERENCES [dbo].[tac_gia] ([ma_tacgia])
GO
ALTER TABLE [dbo].[sach_tac_gia]  WITH CHECK ADD FOREIGN KEY([isbn])
REFERENCES [dbo].[sach] ([isbn])
GO
ALTER TABLE [dbo].[sach_vat_ly]  WITH CHECK ADD FOREIGN KEY([isbn])
REFERENCES [dbo].[sach] ([isbn])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[thanh_toan]  WITH CHECK ADD FOREIGN KEY([ma_donhang])
REFERENCES [dbo].[don_hang] ([ma_donhang])
GO
ALTER TABLE [dbo].[van_chuyen]  WITH CHECK ADD FOREIGN KEY([ma_donhang])
REFERENCES [dbo].[don_hang] ([ma_donhang])
GO
ALTER TABLE [dbo].[danh_gia]  WITH CHECK ADD  CONSTRAINT [CHK_Diem] CHECK  (([diem_dg]>=(1) AND [diem_dg]<=(5)))
GO
ALTER TABLE [dbo].[danh_gia] CHECK CONSTRAINT [CHK_Diem]
GO
ALTER TABLE [dbo].[don_hang]  WITH CHECK ADD  CONSTRAINT [CHK_DH_TrangThai] CHECK  (([trang_thai]='DA_HUY' OR [trang_thai]='HOAN_TAT' OR [trang_thai]='DANG_GIAO' OR [trang_thai]='CHO_LAY_HANG' OR [trang_thai]='DA_XAC_NHAN' OR [trang_thai]='MOI'))
GO
ALTER TABLE [dbo].[don_hang] CHECK CONSTRAINT [CHK_DH_TrangThai]
GO
ALTER TABLE [dbo].[ho_tro]  WITH CHECK ADD  CONSTRAINT [CHK_HT_TrangThai] CHECK  (([trang_thai]='CLOSED' OR [trang_thai]='PROCESSING' OR [trang_thai]='OPEN'))
GO
ALTER TABLE [dbo].[ho_tro] CHECK CONSTRAINT [CHK_HT_TrangThai]
GO
ALTER TABLE [dbo].[nhan_vien]  WITH CHECK ADD  CONSTRAINT [CHK_BoPhan] CHECK  (([bo_phan]='KHO' OR [bo_phan]='BAN_HANG' OR [bo_phan]='QUAN_LY'))
GO
ALTER TABLE [dbo].[nhan_vien] CHECK CONSTRAINT [CHK_BoPhan]
GO
ALTER TABLE [dbo].[tai_khoan]  WITH CHECK ADD  CONSTRAINT [CHK_Role] CHECK  (([role]='CUSTOMER' OR [role]='STOREKEEPER' OR [role]='STAFF' OR [role]='ADMIN'))
GO
ALTER TABLE [dbo].[tai_khoan] CHECK CONSTRAINT [CHK_Role]
GO
ALTER TABLE [dbo].[thanh_toan]  WITH CHECK ADD  CONSTRAINT [CHK_TT_PhuongThuc] CHECK  (([phuong_thuc]='MOMO' OR [phuong_thuc]='VNPAY' OR [phuong_thuc]='COD'))
GO
ALTER TABLE [dbo].[thanh_toan] CHECK CONSTRAINT [CHK_TT_PhuongThuc]
GO
ALTER TABLE [dbo].[thanh_toan]  WITH CHECK ADD  CONSTRAINT [CHK_TT_TrangThai] CHECK  (([trang_thai]='FAILED' OR [trang_thai]='SUCCESS' OR [trang_thai]='PENDING'))
GO
ALTER TABLE [dbo].[thanh_toan] CHECK CONSTRAINT [CHK_TT_TrangThai]
GO
USE [master]
GO
